

<script type="text/html" data-template-name="SiLA">
<!--Service -->
    <div class="form-row">
        <label for="node-input-service"><i class="fa fa-globe"></i> Service</label>
        <input id="node-input-service" type="text" placeholder="Service">
    </div>

<!--Feature-->
    <div class="form-row">
        <label for="node-input-feature"><i class="fa fa-globe"></i> Feature</label>
        <input id="node-input-feature" type="text" placeholder="Feature">
    </div>

<!--Command or Property-->
    <div class="form-row">
        <label for="node-input-action"><i class="fa fa-tasks"></i> Action</label>
        <select type="text" id="node-input-action" style="width:70%;">
            <option value="Command">Command</option>
            <option value="Property">Property</option>
            <option value="use">Set by msg.action</option>
        </select>
    </div>

<!--Action Identifier-->
<div class="form-row node-input-action-identifier-row">
    <label for="node-input-action-identifier"><i class="fa fa-tasks"></i> Fully Qualified Identifier</label>
    <input id="node-input-action-identifier" type="text" placeholder="Fully Qualified Identifier">
    </select>
</div>

    <div class="form-row node-input-paytobody-row">
        <label for="node-input-paytobody">Payload</label>
        <select id="node-input-paytobody" style="width: 70%;">
            <option value="ignore">Ignore</option>
            <option value="body">Send as request body</option>
        </select>
    </div>

<!--Value-->
<div class="form-row">
    <label for="node-input-value"><i class="fa fa-tasks"></i> Value</label>
    <input id="node-input-value" type="text" placeholder="Value">
</div>

<!--Output-->
    <div class="form-row">
        <label for="node-input-ret"><i class="fa fa-arrow-left"></i> <span>Output</span></label>
        <select type="text" id="node-input-ret" style="width:70%;">
            <option value="txt">Text</option>
            <option value="bin">Binary</option>
            <option value="obj">JSON</option>
        </select>
    </div>
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> <span>Name</span></label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-tips" id="tip-json" hidden><span>If JSON parse fails, response is returned in plain text</span></div>
</script>

<script type="text/javascript">
    RED.nodes.registerType('SiLA',{
        category: 'network',
        color:"rgb(85, 156, 159)",
        defaults: {
            name: {value:""},
            action:{value:"Property"},
            ret: {value:"txt"},
            paytobody: {value: false},
            service: {value:""},
            feature: {value:""},
            action_identifier: {value:""},
            params: {value:""}
        },
        credentials: {
            user: {type:"text"},
            password: {type: "password"}
        },
        inputs:1,
        outputs:1,
        outputLabels: function(i) {
            return ({
                txt: this._("utf8String"),
                bin: this._("BinaryBuffer"),
                obj: this._("jsonObject")
            }[this.ret]);
        },
        icon: "white-globe.svg",
        label: function() {
            return this.name||this._("SiLA");
        },
        labelStyle: function() {
            return this.name?"node_label_italic":"";
        },
        oneditprepare: function() {
            $("#node-input-action").on("change", function() {
                if ($(this).val() == "Command") {
                    $(".node-input-paytobody-row").show();
                    $(".node-input-action-identifier-row").show();
                    $(".node-input-value").show();
                } else if ($(this).val() == "Property") {
                    $(".node-input-action-identifier-row").show();
                } else {
                    $(".node-input-paytobody-row").hide();
                    $(".node-input-action-identifier-row").hide();
                    $(".node-input-value").hide();
                }
            });
            if (this.paytobody === true) {
                $("#node-input-paytobody").val("body");
            } else {
                $("#node-input-paytobody").val("ignore");
            }

            $("#node-input-ret").on("change", function() {
                if ($("#node-input-ret").val() === "obj") {
                    $("#tip-json").show();
                } else {
                    $("#tip-json").hide();
                }
            });
        },
    });
</script>
